.animationTitle {
    position: absolute;
    width: 100%;
    top: 190%;
    text-align: center;
    opacity: 0;
}

.animationText {
    font-weight: bold;
    font-size: 50px;
    font-style: normal;
    transition: color 1s;
}

.containerSquares {
    margin-top: 50px;
}

.square {
    width: 50px;
    height: 50px;
    position: absolute;
    transition: background 1s;
}

.square1 {
    background: rgb(8, 50, 112);
    top: 1240px;
    left: -55px;
}

.square2 {
    background: rgb(0, 29, 73);
    top: 1240px;
    left: -55px;
}

.square3 {
    background: rgb(45, 42, 216);
    top: 1240px;
    left: -55px;
}

.square4 {
    background: rgb(22, 4, 177);
    top: 1240px;
    left: -55px;
}

.square5 {
    background: rgb(0, 10, 29);
    top: 1240px;
    left: -55px;
}

.square6 {
    background: rgb(48, 89, 151);
    top: 1240px;
    left: -55px;
}

.square7 {
    background: rgb(41, 81, 167);
    top: 1240px;
    left: -55px;
}

.square8 {
    background: rgb(0, 47, 85);
    top: 1240px;
    left: -55px;
}

.square9 {
    background: rgb(35, 100, 197);
    top: 1240px;
    right: -55px;
}

.square10 {
    background: rgb(15, 61, 131);
    top: 1240px;
    right: -55px;
}

.square11 {
    background: rgb(75, 146, 253);
    top: 1240px;
    right: -55px;
}

.square12 {
    background: rgb(21, 104, 228);
    top: 1240px;
    right: -55px;
}

.square13 {
    background: rgb(0, 60, 151);
    top: 1240px;
    right: -55px;
}

.square14 {
    background: rgb(2, 25, 59);
    top: 1240px;
    right: -55px;
}

.square15 {
    background: rgb(96, 160, 255);
    top: 1240px;
    right: -55px;
}

.square16 {
    background: rgb(0, 84, 105);
    top: 1240px;
    right: -55px;
}

@keyframes square1Animation {
    0% {
        top: 1240px;
        left: -55px;
    }
    100% {
        top: 1050px;
        left: 35px;
        transform: rotate(25deg);
    }
} 

@keyframes square2Animation {
    0% {
        top: 1240px;
        left: -55px;
    }
    100% {
        top: 1100px;
        left: 0;
        transform: rotate(90deg);
    }
}

@keyframes square3Animation {
    0% {
        top: 1240px;
        left: -55px;
    }
    100% {
        top: 1250px;
        left: 60px;
        transform: rotate(30deg);
    }
} 

@keyframes square4Animation {
    0% {
        top: 1240px;
        left: -55px;
    }
    100% {
        top: 1300px;
        left: 0;
        transform: rotate(-90deg);
    }
}

@keyframes square5Animation {
    0% {
        top: 1240px;
        left: -55px;
    }
    100% {
        top: 1190px;
        left: 150px;
        transform: rotate(65deg);
    }
}

@keyframes square6Animation {
    0% {
        top: 1240px;
        left: -55px;
    }
    100% {
        top: 1210px;
        left: 2px;
        transform: rotate(10deg);
    }
}

@keyframes square7Animation {
    0% {
        top: 1240px;
        left: -55px;
    }
    100% {
        top: 1050px;
        left: 150px;
        transform: rotate(-45deg);
    }
}

@keyframes square8Animation {
    0% {
        top: 1240px;
        left: -55px;
    }
    100% {
        top: 1340px;
        left: 100px;
        transform: rotate(19deg);
    }
}

@keyframes square9Animation {
    0% {
        top: 1240px;
        right: -55px;
    }
    100% {
        top: 1400px;
        right: 40px;
        transform: rotate(200deg);
    }
}

@keyframes square10Animation {
    0% {
        top: 1240px;
        right: -55px;
    }
    100% {
        top: 1200px;
        right: 10px;
        transform: rotate(220deg);
    }
}

@keyframes square11Animation {
    0% {
        top: 1240px;
        right: -55px;
    }
    100% {
        top: 1240px;
        right: 80px;
        transform: rotate(300deg);
    }
}

@keyframes square12Animation {
    0% {
        top: 1240px;
        right: -55px;
    }
    100% {
        top: 1300px;
        right: 0;
        transform: rotate(6deg);
    }
}

@keyframes square13Animation {
    0% {
        top: 1240px;
        right: -55px;
        transform: rotate(360deg);
    }
    100% {
        top: 1100px;
        right: 200px;
        transform: rotate(45deg);
    }
}

@keyframes square14Animation {
    0% {
        top: 1240px;
        right: -55px;
    }
    100% {
        top: 1180px;
        right: 150px;
        transform: rotate(25deg);
    }
}

@keyframes square15Animation {
    0% {
        top: 1240px;
        right: -55px;
    }
    100% {
        top: 1240px;
        right: 0;
        transform: rotate(360deg);
    }
}

@keyframes square16Animation {
    0% {
        top: 1240px;
        right: -55px;
    }
    100% {
        top: 1300px;
        right: 150px;
        transform: rotate(45deg);
    }
}